### IntelliJ IDEA ###
RMTES_EMAJ/.idea
RMTES_EMAJ/*.iws
RMTES_EMAJ/*.iml
RMTES_EMAJ/*.ipr

RMTES_EMAJ/target/

### Visual Studio ###
RMTES_EMACSharp/.vs
RMTES_EMACSharp/RMTESConsumer/bin
RMTES_EMACSharp/RMTESConsumer/obj
RMTES_EMACSharp/RMTESProvider/bin
RMTES_EMACSharp/RMTESProvider/obj

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store