### IntelliJ IDEA ###
#RMTES_EMAJ/.idea
RMTES_EMAJ/.idea/workspace.xml
RMTES_EMAJ/.idea/tasks.xml
RMTES_EMAJ/.idea/modules.xml
RMTES_EMAJ/.idea/jarRepositories.xml
RMTES_EMAJ/.idea/compiler.xml
RMTES_EMAJ/.idea/libraries/
RMTES_EMAJ/.idea/**/usage.statistics.xml
RMTES_EMAJ/.idea/**/dictionaries
RMTES_EMAJ/.idea/**/shelf
RMTES_EMAJ/*.iws
RMTES_EMAJ/*.iml
RMTES_EMAJ/*.ipr

RMTES_EMAJ/target/

### Visual Studio ###
RMTES_EMACSharp/.vs
RMTES_EMACSharp/RMTESConsumer/bin
RMTES_EMACSharp/RMTESConsumer/obj
RMTES_EMACSharp/RMTESProvider/bin
RMTES_EMACSharp/RMTESProvider/obj

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

note.txt